@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

/* Basic styling */
    /* API Key = AIzaSyDWnjJ3yWvde3N5Nb4KPV8l4Mt36xBaMUI
    DEV KEY = AIzaSyBEmB9mvLt7AsnqLewyGh9EOoZIsn6C0xA */

:root{
    --color-primary: rgb(22, 22, 112);
    --color-highlight: rgb(219, 183, 220);
    --color-text: rgb(17, 17, 17);
    --color-text-secondary: rgb(251, 251, 251);
    --color-text-disabled: rgba(17, 17, 17, 0.5);
    --color-bg: rgb(245, 244, 244);
    --color-fg: rgb(253, 251, 251);
    --color-border: rgba(137, 137, 233, 0.696);
    --color-shadow: rgba(148, 148, 148, 0.497);
    --font-family: Arial, Helvetica, sans-serif;;
}

*{
    margin: 0;
   
}

body, html{
    height: 100%;
    width: 100%;
    color: var(--color-text);
    font-family: var(--font-family);
}

a{
    text-decoration: none;
    color: var(--color-text);
}

.white{
    color: var(--color-text-secondary);
}

button {
    border-radius: 20px;
    padding: 2px;
    border: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
}

button:hover{
    transform: scale(1.1,1.1);
}

.button-primary{
    background-color: var(--color-primary);
    color: var(--color-text-secondary);
}

.button-highlight{
    background-color: var(--color-highlight);
    color: var(--color-text-secondary);
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: flex-start
}

input, option, textarea, select{
    background-color: var(--color-bg);
    border-radius: 10px;
    border: 2px solid var(--color-border);
    padding: 2.5px;
    width: 100%;
}
.icon{
    height: 20px;
    width: 20px;
}

.site-header{
    height: 10dvh;
    width: auto;
    position: sticky;
    z-index: 100;
    background-color: var(--color-fg);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.275);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.nav-left, .nav-right{
    display: flex;
    flex-direction: row;
}
.nav-left{
    margin-right: auto;
    column-gap: 10px;
}
.nav-right{
    margin-left: auto;
    column-gap: 20px;
}

.brand-logo{
    height: 30px;
}
.brand-name{
    font-weight: bold;
    align-self: center;
}

.nav-link{
    font-size: 15px;
    font-weight: bold;
}


.active{
    color: var(--color-highlight);
    font-weight: bolder;
}

.user-action{
    border: none;
    background-color: inherit;
}
.user-action-img{
    height: 20px;
    width: 20px;
}

.content-area{
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    width: 100dvw;
    background-color: var(--color-bg);
    gap: 30px;
    padding-block: 30px;
}

.site-footer{
    width: auto;
    height: auto;
    color: var(--color-text-primary);
    background-color: var(--color-fg);
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.275);
    padding-block: 20px;
}
.footer-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.footer-content img{
    height: 20px;
    width: 20px;
}


.card-container{
    display: flex;
    flex-direction: row;
    gap:20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.bisection-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--color-border);
    border-radius: 15px;
    background-color: var(--color-fg);
}

.bisection-card:hover{
    transform: scale(1.02,1.02);
}

.card-img, .card-details{
    height: 100%;
    width: 50%;
}

.card-img{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.card-details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.card-details:last-child{
    margin-top: auto;
}

.card-title{
    font-size: 15px;
    font-weight: bold;
}

.card-description{
    font-size: 12px;
    color: var(--color-text-disabled);
}

.card-text{
    font-size: 12px;
}

.submit-btn{
    width: 100%;
}


.donation-banner-img{
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

.donation-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    gap: 20px;
}

.donation-title{
    font-size: 20px;
    font-weight: bolder;
    color: var(--color-primary);
}

.donation-description{
    font-size: 15px;
    color: var(--color-text-disabled);
}

label{
    font-size: 15px;
}

.donation-form{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    gap: 20px;
}

.labeled-input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 40%;
}

.labeled-input-checkbox{
    display: flex;
    flex-direction: row;
    
    width: 40%;
    gap: 10px;
}

.form-submit-group{
    display: flex;
    flex-direction: row;
    width: 40%;
    column-gap: 20x;
    justify-content: space-between;
}

.submit-btn{
    width: 40%;
    height: 30px;
}

.confirmation-img{
    height: 300px;
    width: 300px;
}

.no-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}