

.hero-section{
    margin-inline: 100px;
    margin-block: 30px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.hero-section-details{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 500px;
    height: auto;
    gap: 20px;
}

.hero-section-header{
    color: var(--color-primary);
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    font-size: 40px;
}

.highlight{
    color: var(--color-highlight);
}

.hero-section-subheader{
    color: var(--color-text-primary);
}

.hero-section-text{
    color: var(--color-text-disabled);
    font-size: 15px;
}

.hero-section-btn{
    height: auto;
    width: auto;
    padding: 20px;
    color: var(--color-text-secondary);
    background-color: var(--color-primary);
    font-size: 20px;

}

.hero-section-img {
    height: 400px;
    width: 500px;
    border-radius: 15px;
}